In [4]:
import pandas as pd
df = pd.read_csv('weight-height.csv')
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [6]:
df.describe()
#it is used to describe the date set and give some common values like mean, std deviation , max , min, 25%,50%, 75 percentile

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [10]:
Q1 = df.Height.quantile(0.25)
Q3 = df.Height.quantile(0.75)
Q1, Q3
#Using the Quantile function we can get the point where the data below 25 percent falls and same for the 75

(63.505620481218955, 69.1742617268347)

In [12]:
IQR = Q3 - Q1
IQR
#The IQR tells us how many data are there in the middle half , Interquartile range

5.668641245615746

In [14]:
LL = Q1-1.5*IQR
UL = Q3 + 1.5*IQR
LL, UL

(55.00265861279534, 77.67722359525831)

In [18]:
df[(df.Height<LL) | (df.Height>UL)]
#Got all the exceptional data

      Gender     Height      Weight
994     Male  78.095867  255.690835
1317    Male  78.462053  227.342565
2014    Male  78.998742  269.989699
3285    Male  78.528210  253.889004
3757    Male  78.621374  245.733783
6624  Female  54.616858   71.393749
7294  Female  54.873728   78.606670
9285  Female  54.263133   64.700127